.Projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    background-color: #282c34;
}

img {
    width: 650px;
    height: 500px;
}

.tech {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width : 1251px) {
    .Projects {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width : 701px) and (max-width : 1250px) {
    .Projects {
        width: 650px;
        /* background-color: yellow; */
    }
}

@media only screen and (max-width : 700px) {
    img {
        width: 500px;
        height: 400px;
    }
    .Projects {
        width: 500px;
        /* background-color: tomato; */
    }
}

@media only screen and (max-width : 500px) {
    img {
        width: 400px;
        height: 300px;
    }
    .Projects {
        width: 400px;
        /* background-color: teal; */
    }
}

@media only screen and (max-width : 300px) {
    img {
        width: 280px;
        height: 180px;
    }
    .Projects {
        width: 280px;
        /* background-color: turquoise; */
    }
}

@media only screen and (max-width : 250px) {
    img {
        width: 230px;
        height: 160px;
    }
    .Projects {
        width: 230px;
    }
}

@media only screen and (max-width : 200px) {
    img {
        width: 180px;
        height: 80px;
    }
    .Projects {
        width: 180px;
    }
}