.Projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    background-color: #282c34;
    height: 500px;
}

img {
    width: 650px;
    height: 500px;
}

.tech {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width : 1251px) {
    .Projects {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

@media only screen and (min-width : 801px) and (max-width : 1250px) {
    .Projects {
        width: 650px;
    }
}

@media only screen and (min-width: 651px) and (max-width: 800px) {
    img {
        width: 500px;
        height: 400px;
    }
    .Projects {
        width: 500px;
    }
}

@media only screen and (min-width: 501px) and (max-width : 650px) {
    img {
        width: 380px;
        height: 280px;
    }
    .Projects {
        width: 380px;
    }
}

@media only screen and (min-width: 400px) and (max-width : 500px) {
    img {
        width: 330px;
        height: 230px;
    }
    .Projects {
        width: 330px;
    }
}

@media only screen and (min-width: 300px) and (max-width : 401px) {
    img {
        width: 280px;
        height: 180px;
    }
    .Projects {
        width: 280px;
    }
}

@media only screen and (max-width : 299px) {
    img {
        width: 230px;
        height: 160px;
    }
    .Projects {
        width: 230px;
    }
}

/* @media only screen and (max-width : 200px) {
    img {
        width: 180px;
        height: 80px;
    }
    .Projects {
        width: 180px;
    }
} */