.Projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    background-color: #282c34;
}

img {
    width: 650px;
    height: 500px;
}

.tech {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width : 1150px) {
    .Projects {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width : 700px) and (max-width : 1149px) {
    .Projects {
        width: 650px;
    }
}

@media only screen and (max-width : 700px) {
    img {
        width: 500px;
        height: 400px;
    }
}

@media only screen and (max-width : 500px) {
    img {
        width: 400px;
        height: 300px;
    }
}