.About {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.account {
    margin-top: 0px;
    padding-top: 0px;
}

#about {
    margin-bottom: 0px;
}

@media only screen and (min-width: 1070px) {
    #about {
        margin-bottom: 0px;
    }

    .About {
        padding: 90px;
        display: grid;
        grid-template-columns: 25% 75%;
        justify-items: start;
        justify-content: start;
    }
    
    .account {
        display: flex;
        justify-items: center;
        align-items: center;
    }
}