/* .Introduction {
    background-color: #282c34;
} */

.IntroduceYourself {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-content: space-between; */
}

.Eva {
    display: flex;
    flex-direction: row;
}

.Brand-Statement {
    display: flex;
    flex-direction: row;
}