/* .Introduction {
    background-color: #282c34;
} */

.IntroduceYourself {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;
    align-content: space-between; */
}

.IntroduceYourself {
    display: grid;
    grid-template-areas: "name brand";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
}

.Eva {
    grid-area: name;
} 

.Brand-Statement {
    grid-area: brand;
} 

.name {
    color: #d4af37;
}